html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: stretch;
    height: 100%;
}

#map-and-info {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
}
#info-container {
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 10px;
    padding: 5px;
    margin: 0;
    border: 1px solid black;
    background-color: white;

}
#map-container {
    margin: 0;
    display: flex;
    justify-items: stretch;
    flex-direction: column;
    flex-grow: 1;
}

#map { 
    height: 100%; 
    flex-grow: 1;
}

h1 {
    padding: 0;
    margin: 10px;
}